button {
  width: 100%;
  outline: none;
  padding: 12px 0;
  background-color: #00b5ad;
  border-radius: 7px;
  color: white;
  font-weight: 100;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
}
input {
  width: 100%;
  border: 1px solid #00000014;
  padding: 12px;
  border-radius: 7px;
  margin: 5px 0;
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}
.account,
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 20px 0;
}
.account .file-upload,
.dashboard .file-upload {
  text-align: left;
  margin-top: 10px;
}
.account .file-upload input,
.dashboard .file-upload input {
  margin: 5px 0 0 0;
}
.account .file-upload__btn,
.dashboard .file-upload__btn {
  display: flex;
  justify-content: space-between;
}
.account .file-upload__btn button,
.dashboard .file-upload__btn button {
  flex: 0 1 50%;
}
.account .file-upload__btn .submit,
.dashboard .file-upload__btn .submit {
  border-radius: 0 0 0 7px;
}
.account .file-upload__btn .close,
.dashboard .file-upload__btn .close {
  border-radius: 0 0 7px 0;
}
.account__user-info,
.dashboard__user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account__user-info .back-btn,
.dashboard__user-info .back-btn {
  flex: 0 1 15%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
.account__user-info .back-btn i,
.dashboard__user-info .back-btn i {
  margin: 0 5px;
  font-size: 18px;
  color: #00b5ad;
}
.account__user-info__logo,
.dashboard__user-info__logo {
  flex: 0 1 15%;
  position: relative;
  z-index: 99999;
}
.account__user-info__logo img,
.dashboard__user-info__logo img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.account__user-info__logo i,
.dashboard__user-info__logo i {
  color: #00b5ad;
  position: absolute;
  left: -9px;
  bottom: -10px;
  font-size: 24px;
  transition: all 0.5s;
}
.account h2,
.dashboard h2 {
  font-size: 30px;
  flex: 0 1 auto;
  color: #00b5ad;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account .authentication,
.dashboard .authentication {
  text-align: left;
  color: #00b5ad;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  flex: 0 1 30%;
}
.account .authentication p,
.dashboard .authentication p {
  margin-left: 2px;
}
.account .authentication button i,
.dashboard .authentication button i {
  margin-left: 10px;
  font-size: 12px;
}
.account .authentication .submit,
.dashboard .authentication .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account .auth-btn,
.dashboard .auth-btn {
  margin-top: 20px;
}
.account .auth-btn button,
.dashboard .auth-btn button {
  background-color: #009c95;
}
.dashboard {
  justify-content: flex-start;
}
.dashboard h2 {
  flex: 0 1 20%;
  font-size: 40px;
}
.dashboard .back-btn {
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard .auth-btn {
  margin: 10px 0;
}
